In [ ]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier

In [ ]:
X,y = load_iris(return_X_y=True)

In [ ]:
# data = load_iris(as_frame=True)
# data.target

In [ ]:
# data.frame

In [ ]:
m = RandomForestClassifier(n_estimators=3, max_depth=3).fit(X, y)

In [ ]:
from skompiler import skompile
expr = skompile(m.predict)
sql = expr.to('sqlalchemy/sqlite')

In [ ]:
sql

'WITH _tmp1 AS \n(SELECT data.id AS __id__, CASE WHEN (x3 <= 2.449999988079071) THEN 0.3333333333333333 ELSE 0.0 END + CASE WHEN (x3 <= 2.599999964237213) THEN 0.3333333333333333 ELSE 0.0 END + CASE WHEN (x1 <= 5.450000047683716) THEN CASE WHEN (x4 <= 0.800000011920929) THEN 0.3333333333333333 ELSE 0.0 END ELSE 0.0 END AS f1, CASE WHEN (x3 <= 2.449999988079071) THEN 0.0 ELSE CASE WHEN (x1 <= 6.049999952316284) THEN CASE WHEN (x2 <= 2.450000047683716) THEN 0.3333333333333333 ELSE 0.2298850574712644 END ELSE CASE WHEN (x3 <= 5.049999952316284) THEN 0.25757575757575757 ELSE 0.0 END END END + CASE WHEN (x3 <= 2.599999964237213) THEN 0.0 ELSE CASE WHEN (x4 <= 1.6500000357627869) THEN CASE WHEN (x1 <= 7.099999904632568) THEN 0.3277777777777778 ELSE 0.0 END ELSE CASE WHEN (x3 <= 4.8500001430511475) THEN 0.08333333333333333 ELSE 0.0 END END END + CASE WHEN (x1 <= 5.450000047683716) THEN CASE WHEN (x4 <= 0.800000011920929) THEN 0.0 ELSE 0.3333333333333333 END ELSE CASE WHEN (x4 <= 1.75) THEN CASE WHEN (x3 <= 4.950000047683716) THEN 0.3333333333333333 ELSE 0.19047619047619047 END ELSE 0.0 END END AS f2, CASE WHEN (x3 <= 2.449999988079071) THEN 0.0 ELSE CASE WHEN (x1 <= 6.049999952316284) THEN CASE WHEN (x2 <= 2.450000047683716) THEN 0.0 ELSE 0.10344827586206896 END ELSE CASE WHEN (x3 <= 5.049999952316284) THEN 0.07575757575757576 ELSE 0.3333333333333333 END END END + CASE WHEN (x3 <= 2.599999964237213) THEN 0.0 ELSE CASE WHEN (x4 <= 1.6500000357627869) THEN CASE WHEN (x1 <= 7.099999904632568) THEN 0.005555555555555556 ELSE 0.3333333333333333 END ELSE CASE WHEN (x3 <= 4.8500001430511475) THEN 0.25 ELSE 0.3333333333333333 END END END + CASE WHEN (x1 <= 5.450000047683716) THEN 0.0 ELSE CASE WHEN (x4 <= 1.75) THEN CASE WHEN (x3 <= 4.950000047683716) THEN 0.0 ELSE 0.14285714285714285 END ELSE 0.3333333333333333 END END AS f3 \nFROM data), \n_tmp2 AS \n(SELECT _tmp1.__id__ AS __id__, CASE WHEN (CASE WHEN (_tmp1.f1 > _tmp1.f2) THEN _tmp1.f1 ELSE _tmp1.f2 END > _tmp1.f3) THEN CASE WHEN (_tmp1.f1 > _tmp1.f2) THEN _tmp1.f1 ELSE _tmp1.f2 END ELSE _tmp1.f3 END AS _max \nFROM _tmp1)\n SELECT CASE WHEN (_tmp1.f1 = _tmp2._max) THEN 0 WHEN (_tmp1.f2 = _tmp2._max) THEN 1 ELSE 2 END AS y \nFROM _tmp1 JOIN _tmp2 ON _tmp1.__id__ = _tmp2.__id__'

In [ ]:
import sqlalchemy as sa
import pandas as pd
conn = sa.create_engine('sqlite://').connect()
df = pd.DataFrame(X, columns=['x1', 'x2', 'x3', 'x4']).reset_index()
df.to_sql('data', conn)

150

In [ ]:
sql = expr.to('sqlalchemy/sqlite', key_column='index', from_obj='data')

In [ ]:
results = pd.read_sql(sql, conn)

In [ ]:
results

     y
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [ ]:
assert (results.values.ravel() == m.predict(X).ravel()).all()

In [ ]:
expr = skompile(m.predict, ['a', 'b', 'c', 'd'])

In [ ]:
sql = expr.to('sqlalchemy/sqlite', multistage=False)

In [ ]:
len(expr.to('sqlalchemy/sqlite'))

2218

In [ ]:
predict(x) = argmax(predict_proba(x))

SyntaxError: cannot assign to function call (946139640.py, line 1)